.item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.mt-2 {
  margin-top: 0.5rem;
}
